:root {
  --primary-color: #1a237e;
  --secondary-color: #3949ab;
  --dark-color: #0d1642;
  --light-color: #e8eaf6;
  --text-color: #283593;
  --light-text: #e8eaf6;
  --accent-color: #5c6bc0;
  --border-radius: 8px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}

body {
    background-color: #f8f9fa;
  }
  
.table-dark {
  --bs-table-color: #fff !important;
  --bs-table-bg: var(--secondary-color) !important;
    --bs-table-border-color: #dee2e6 !important;
    --bs-table-striped-bg: rgba(255, 255, 255, 0.05) !important;
    --bs-table-striped-color: #fff !important;
    --bs-table-active-bg: rgba(255, 255, 255, 0.1) !important;
    --bs-table-active-color: #fff !important;
    --bs-table-hover-bg: rgba(255, 255, 255, 0.08) !important;
    --bs-table-hover-color: #fff !important;
  
    color: var(--bs-table-color) !important;
    background: var(--bs-table-bg) !important;
    border-color: var(--bs-table-border-color) !important;
  }
  